{% extends "base.html" %}

{% block content %}
   {# <h2>Tous les details sur {{org.title}}</h2> #}


    <span>
        <img src="{{org.logo.resUri}}" width="100" height="80" alt="logo de {{org.title}}" />   
        {{org.description|safe}} 
    </span>


    {% if org.offers  or org.seeks %}
        <h3> Exchange : </h3>
        {% if org.offers %}
        <h4>  offre </h4>
        <ul>
            {% for ex in org.offers %}
                <li><a href="{{ ex.get_absolute_url }}">{{ ex.title}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if org.seeks %}
        <h4>  recherche </h4>
        <ul>

            {% for ex in org.seeks %}
                <li><a href="{{ ex.get_absolute_url }}">{{ ex.title}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}


    {% endif %}
  
    {% if org.roles %}
        <h3> Les membres </h3>
        <ul>
        {% for ms in org.roles %}
                <li>{{ ms.role.label }} :  {{ms.member.name}}
                 </li>
         {% endfor %}
         </ul>
    {% endif %}

    {% if org.tags %}
        <span>
            <strong>Tags : </strong> 
            {% for tag in org.tags %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.label}}</a>
            {% endfor %}
            </span>
    {% endif %}

     <br/>
<br/>
<br/>


 {% comment %}

    <form action="/org/{{ org.id }}/" enctype="application/x-www-form-urlencoded" method="post">
    	
    {% csrf_token %}

    <div> {{form.render|safe }} </div>

    <input type="submit" value="Update" />
    </form>
   
{% endcomment %}

{# <div> La version grid donne  <br/> <table> <caption>{{org.title}}</caption>	{{org.grid.render|safe}} </table> </div> #}


{% endblock %}
