{% extends "base.html" %}

{% block title %}pes organisation{% endblock %}

{% block content %}
    <h2>Organizations</h2>
    <ul>
        {% for org in object_list %}
            <li><h4>{{ org.title }} </h4>tous les details de cette organisation sont ici
            	<a href="{{ org.get_absolute_url }}">{{ org.title }}</a>
            	vous pouvez aussi consulter son site internet
 			
            	<!-- avant il faut tester si le site existe -->
            	<a href="{{ org.web }}">{{ org.web}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

