{% extends "base.html" %}

{% block title %}pes organisation{% endblock %}

{% block content %}
    <h2>Organizations</h2>
    <ul>
        {% for org in object_list %}
            <li>
            	<a href="{{ org.get_absolute_url }}">{{ org.title }}</a>

                {% if org.web %}
                	(vous pouvez aussi consulter son site internet 			
                	<a href="{{ org.web }}">{{ org.web}}</a>)
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% include "pagination.html" with model="org"  end_message="Plus d'autres structures !" %}

{% endblock %}

