<!DOCTYPE html>
<html lang="fr">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png"/>  
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Scada|Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>



    {% block jquery_declaration %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script> 
    {# <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> #}
    {% endblock %}



    {% block javascript %}
       <!-- <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script> -->
    {% endblock javascript %}


    <title>{% if site_title %}  {{ site_title }}{% endif %}</title>
</head>

<body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">

{% comment %}
            <h2> Plate-formes d'Echanges Solidaires </h2> 
            <hr>
{% endcomment %}

            {% block content %}{% endblock %}

</div>
</div>

</body>
</html>