{% extends "base.html" %}

{% block content %}
    <h2>Les produits</h2>
    <ul>
        {% for product in object_list %}
            <li> <a href="{{ product.get_absolute_url }}">{{ product.title}}</a>
            publiée le {{ product.dct_created }} 
            {% if product.organization.title %}
            par <a href="{{product.organization.get_absolute_url}}">{{product.organization.title }}</a>
            {% endif %}
 	        <p> {{ product.description|safe}} </p>           
            </li>
                
        {% endfor %}
    </ul>

{% include "pagination.html" with model="product"  end_message="Plus d'autres produits !" %}

{% endblock %}
