{% extends "base.html" %}

{% block content %}
    <h2>Tous les details sur {{ex.title}}</h2>

    <div> {{ex.description|safe}} </div>

    {% if ex.publisher.title %}
        <span>
        publiée par: 
        <a href="{{ex.publisher.get_absolute_url}}">{{ ex.publisher.title }}</a>
        </span>
    {% endif %}


     <br/>

{% if ex.proposition %}
Quelques propositions pour cette annonce:

               <ul>
              {% for e in ex.proposition %}
                  {% if e.publisher.title %}
                   <li><a href="{{e.get_absolute_url}}">{{ e.title }}</a> publiée par 
                         <a href="{{e.publisher.get_absolute_url}}">{{ e.publisher.title }}</a></li>
                   {% else %}
                   <li><a href="{{e.get_absolute_url}}">{{ e.title }}</a> </li>
                   {% endif %}

              {%endfor%}
          </ul>



{% endif %}


{% include "tags.html" with object=ex  %}


<br/>
<br/>


 {% comment %}

    <form action="/exchange/{{ ex.id }}/" enctype="application/x-www-form-urlencoded" method="post">
    	
    {% csrf_token %}

    <div> {{form.render|safe }} </div>

    <input type="submit" value="Update" />
    </form>
{% endcomment %}
   

{% endblock %}
