{% extends "base.html" %}

{% block content %}
    <h2>Les articles</h2>
    <ul>
        {% for article in object_list %}
            <li> <a href="{{ article.get_absolute_url }}">{{ article.title}}</a>
            publiée le {{ article.dct_created }} 
            {% if article.organization.title %}
            par <a href="{{article.organization.get_absolute_url}}">{{article.organization.title }}</a>
            {% endif %}
 	        <p> {{ article.summary|safe}} </p>           
            </li>
                
        {% endfor %}
    </ul>


{% include "pagination.html" with model="article"  end_message="Plus d'autres parutions !" %}

{% endblock %}
