{% load highlight %}
<h4>  
	<a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>

</h4>
<p> 
	{% highlight result.object.description with query %}
</p>



{% if result.object.tags %}
<p>
	<strong> tags : </strong>
	 {% for tag in result.object.tags %}
	        <a href="{{ tag.get_absolute_url }}">{{ tag.label}}</a>,
	             
	{% endfor %}
</p>
{% endif %}

{% comment %}
<p> 
	Description : {{ result.object.description|safe|truncatewords:50 }} 
</p>
{% endcomment %}


{% include "search/includes/mlt.html" %}